@page
@model BugBlazor.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Bug Blazor</h1>
<hr />

<App>
    @(await Html.RenderComponentAsync<BugBlazor.Components.App>(RenderMode.ServerPrerendered))
</App>

