@page
@model BugBlazor.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" /> }
<h1>Bug Blazor</h1>
<hr />

<app>
    @(await Html.RenderComponentAsync<BugBlazor.Components.App>(RenderMode.ServerPrerendered))
</app>

@section scripts{
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        window.bugFuncs = {
            showAlert: function (msg) {
                alert(msg);
            },
            showModal: function () {
                $("#mymodal").modal("show");
            }
        };

    </script>
}